# Сборка и бинарники
config_default/
Debug/
Release/
build*
Testing/

# Файлы настройки среды разработки
.project
.vscode/
STM32F407.svd
compile_commands.json
# .clang*
.cache/
# .devcontainer/
.DS_Store
!Docs/env/dmitry/dev/*
